.card{
  border: none;
  max-width: 100px;
  background-color: none;
  margin:5rem;
  padding:none;
  border-radius:0;
}

* {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
*:before,
*:after {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}